<nav role="navigation">
  <ul>
    <li><a href="/" {% if page.url == "/" %}class="active"{% endif %}>Getting started</a></li>
    <!-- <li><a href="/tags" {% if page.url == "/tags" %}class="active"{% endif %}>Tags</a></li> -->
    <!-- <li><a href="/about" {% if page.url == "/about" %}class="active"{% endif %}>About</a></li> -->
    <li><a href="/projects" {% if page.url == "/projects" %}class="active"{% endif %}>Lessons</a></li>
    <li><a href="/projects" {% if page.url == "/about" %}class="active"{% endif %}>Roadmap</a></li>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="https://patreon.com">Patreon</a></li>
    <li><a href="https://helda-game.com">Game</a></li>
  </ul>
</nav>
